{% extends "base.html" %}

{% block content %}
	<form class="m-5" method="POST" action="{{ url_for('profile.SettingsDisplayname')}}" spellcheck="false">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="alert alert-danger" role="alert">
					{{ messages[0] }}
				</div>
			{% endif %}
		{% endwith %}
		<div class="mb-3">
			<label for="description" class="form-label">Display name:</label>
			<input class="form-control color-bg" name="displayname">Current display name: {{ current_user.displayname }}</input>
		</div>
		<button type="submit" class="btn color-container">Confirm</button>
	</form>
{% endblock %}
