{% from "import/macros.html" import badge, parse %}

{% extends "base.html" %}

{% block content %}
	<div class="container mt-5 md-5 rounded">
		<div class="row">
			<div class="col-sm-3 mt-3">
				{% if current_user.id == user.id %} <a href="https://ru.gravatar.com/emails/"> {% endif %}
					<img src="{{ user.avatar(512) }}" width="512" height="512" class="img-thumbnail">
				{% if current_user.id == user.id %} </a> {% endif %}
				<br><br>
				{% if user.displayname == None %}
					{% if current_user.id == user.id %} <a class="link-secondary link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#editDisplaynameModal"> {% endif %}
						<h3 class="display-6">{{ user.getName() }}</h3>
					{% if current_user.id == user.id %} </a> {% endif %}
				{% else %}
					{% if current_user.id == user.id %} <a class="link-secondary link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#editDisplaynameModal"> {% endif %}
						<h3 class="display-6">{{ user.getName() }}</h3>
					{% if current_user.id == user.id %} </a> {% endif %}
					<h4>{{ user.username }}</h4>
				{% endif %}
				{% if not current_user.is_anonymous and current_user.id == user.id %}
					<p><a class="link-dark link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#editEmailModal">{{ user.email if user.email != "" else "Change E-Mail" }}</a></p>
				{% endif %}
				{{ badge(user) }}
				<hr>

				<h1 class="display-6">Level {{ user.points//100 }}</h1>
				<div class="progress color-container" role="progressbar">
					<div class="progress-bar color-bg" style="width: {{ user.points%100 }}%">{{ user.points }}</div>
				</div>
			</div>
			<div class="col-sm mt-3 p-3 rounded color-container">
				{% for line in user.description.split("\n") %}
					{{ parse(line, user) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
