{% macro badge(user) -%} <!-- User badge -->
	{% if user.ban == 1 %}
		<span class="badge text-bg-warning">Banned</span>
	{% elif user.admin == 0 %}
		<span class="badge text-bg-secondary">User</span>
	{% elif user.admin == 1 %}
		<span class="badge text-bg-primary">Moderator</span>
	{% elif user.admin == 2 %}
		<span class="badge text-bg-danger">Administrator</span>
	{% elif user.admin == 3 %}
		<span class="badge text-bg-info">Owner</span>
	{% endif %}
{%- endmacro %}

{% macro parse(line, user) -%} <!-- Parse markdown -->
	{% if line.startswith("# ") %}
		<h2>{{ line[2:] }}</h2>
	{% elif line.startswith("[url] ") and user.points//100 > 0 %}
		<a href="{{ line[6:] }}">{{ line[6:] }}</a><br>
	{% elif line.startswith("[img] ") and user.points//100 > 0 %}
		<br><img src="{{ line[6:] }}" width="256"><br>
	{% else %}
		{{ line }}<br>
	{% endif %}
{%- endmacro %}
