{% extends "base.html" %}

{% block content %}
	<div class="container-fluid row p-3">
		<div class="col">
			<div class="accordion" id="accordion">
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
							Utils
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=1) }}">
								<button type="submit" class="btn color-container">Clear the database of garbage</button>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true">
							Delete user
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=2) }}">
								<label class="form-label">User ID</label>
								<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
								<button type="submit" class="btn color-container">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true">
							Delete topic
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=3) }}">
								<label class="form-label">Topic ID</label>
								<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
								<button type="submit" class="btn color-container">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true">
							Ban / Unban
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=4) }}">
								<label class="form-label">User ID</label>
								<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
								<button type="submit" class="btn color-container">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true">
							Issue PL to user
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=5) }}">
								<label class="form-label">User ID</label>
								<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
								<label class="form-label">Permission level (0 - 2)</label>
								<input type="text" class="form-control color-bg" name="admin" autocomplete="off"><br>
								<button type="submit" class="btn color-container">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item color-bg">
					<h2 class="accordion-header">
						<button class="accordion-button color-bg collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true">
							Issue points to user
						</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">
							<form method="POST" action="{{ url_for('admin.Utils', id=7) }}">
								<label class="form-label">User ID</label>
								<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
								<label class="form-label">Points</label>
								<input type="text" class="form-control color-bg" name="points" autocomplete="off"><br>
								<button type="submit" class="btn color-container">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">

		</div>
	</div>
	<div class="p-3 mt-3 ms-5 me-5 rounded color-container">
		{% if current_user.admin >= 3 %}
			<br><h4 class="text-danger">Danger zone</h4><hr>
			<div class="alert alert-danger">
				These actions are irreversible, keep in mind.
			</div>
			<form method="POST" action="{{ url_for('admin.Utils', id=6,) }}">
				<label class="form-label">User ID</label>
				<input type="text" class="form-control color-bg" name="id" autocomplete="off"><br>
				<button type="submit" class="btn color-container">Transfer owner rights</button>
			</form><br>
		{% endif %}
	</div>
{% endblock %}
